<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <!-- Footer Text -->
        <p class="mb-2">© 2025 MyApp. All Rights Reserved.</p>
        
        <!-- Social Media Links -->
        <div class="d-flex justify-content-center">
            <a href="https://facebook.com" class="btn btn-outline-light btn-sm mx-2" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com" class="btn btn-outline-light btn-sm mx-2" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com" class="btn btn-outline-light btn-sm mx-2" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://linkedin.com" class="btn btn-outline-light btn-sm mx-2" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
</footer>